body {
  position: relative;
  left: 50%;
}
.input-style {
  padding: 0.3%;
  border-radius: 5%;
}

.item-style {
  border: 1px solid purple;
  padding: 1%;
  width: 20%;
  display:flex;
  justify-content: space-between;
}
